# Logs
logs/
*.log

# Node Modules
node_modules/

# Environment Variables
.env

# Build Output
frontend/build/
backend/dist/

# Dependency Lock Files
package-lock.json
yarn.lock

# System-Specific Files
Thumbs.db

# Editor-Specific Files
.vscode/
.idea/
*.swp
*.swo
*.bak
